/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.04.2016, 23:08:19
   
*/
/** phones (max-width 320px; )**/
@media (max-width: 768px) {
  #container {
    width: 100%; }
    #container #content {
      width: 300px;
      margin: 0 auto;
      background: white; }
      #container #content .filter-wrap {
        width: 100%; }
        #container #content .filter-wrap .filter-header {
          border-bottom: 1px solid black;
          font-size: 16px;
          font-weight: bold;
          padding: 5px 5px 15px 50px; }
        #container #content .filter-wrap .filter-results {
          color: blue;
          font-size: 12px;
          padding: 20px 50px;
          text-decoration: underline;
          width: 280px; }
        #container #content .filter-wrap .filter-block .single-filter {
          padding: 10px 10px 10px 45px;
          font-size: 14px; }
          #container #content .filter-wrap .filter-block .single-filter .filter-label {
            display: block;
            height: 20px; }
          #container #content .filter-wrap .filter-block .single-filter fieldset {
            border: 0; }
          #container #content .filter-wrap .filter-block .single-filter select {
            width: 180px;
            height: 40px; }
          #container #content .filter-wrap .filter-block .single-filter .overflow {
            height: 200px; }
          #container #content .filter-wrap .filter-block .single-filter .interval {
            width: 60px;
            margin: 0px 12px 0px 12px;
            height: 20px; }
          #container #content .filter-wrap .filter-block .single-filter .ui-selectmenu-text {
            height: 30px;
            width: 180px; }
          #container #content .filter-wrap .filter-block .single-filter .ui-menu-item {
            height: 30px;
            width: 180px; }
          #container #content .filter-wrap .filter-block .single-filter .filter-input {
            width: 200px;
            height: 30px; }
        #container #content .filter-wrap .strange-border {
          border-bottom: 1px gray solid;
          height: 40px;
          width: 220px;
          margin: 0px auto; }
      #container #content .results-wrap {
        width: 100%;
        margin: 0 auto; }
        #container #content .results-wrap .advertising {
          display: none; }
        #container #content .results-wrap .results-header {
          border-bottom: 1px solid black;
          font-size: 16px;
          font-weight: bold;
          padding: 5px 5px 15px 50px; }
        #container #content .results-wrap .one-result {
          width: 100%;
          position: relative;
          margin: 20px 0px; }
          #container #content .results-wrap .one-result .result-img {
            width: 100%; }
          #container #content .results-wrap .one-result .result-name {
            position: absolute;
            bottom: 40px;
            padding: 10px;
            opacity: .6;
            background: white;
            text-align: center;
            cursor: pointer; }
      #container #content .one-result:hover .result-name {
        opacity: .9; } }
/** iPads width 640px**/
@media (min-width: 769px) {
  #container {
    width: 100%; }
    #container #content {
      padding: 0px 20px; }
      #container #content .filter-wrap {
        max-width: 38%;
        display: inline-block; }
        #container #content .filter-wrap .filter-header {
          border-bottom: 1px solid black;
          font-size: 16px;
          font-weight: bold;
          padding: 5px 5px 15px 50px; }
        #container #content .filter-wrap .filter-results {
          color: blue;
          font-size: 12px;
          padding: 20px 50px;
          text-decoration: underline;
          width: 280px; }
        #container #content .filter-wrap .filter-block .single-filter {
          padding: 10px 10px 10px 45px;
          font-size: 14px; }
          #container #content .filter-wrap .filter-block .single-filter .filter-label {
            display: block;
            height: 20px; }
          #container #content .filter-wrap .filter-block .single-filter fieldset {
            border: 0; }
          #container #content .filter-wrap .filter-block .single-filter select {
            width: 180px;
            height: 40px; }
          #container #content .filter-wrap .filter-block .single-filter .overflow {
            height: 200px; }
          #container #content .filter-wrap .filter-block .single-filter .interval {
            width: 60px;
            margin: 0px 12px 0px 12px;
            height: 20px; }
          #container #content .filter-wrap .filter-block .single-filter .ui-selectmenu-text {
            height: 30px;
            width: 180px; }
          #container #content .filter-wrap .filter-block .single-filter .ui-menu-item {
            height: 30px;
            width: 180px; }
          #container #content .filter-wrap .filter-block .single-filter .filter-input {
            width: 200px;
            height: 30px; }
        #container #content .filter-wrap .strange-border {
          border-bottom: 1px gray solid;
          height: 40px;
          width: 220px;
          margin: 0px auto; }
      #container #content .results-wrap {
        max-width: 60%;
        vertical-align: top;
        display: inline-block;
        border-left: 1px black solid; }
        #container #content .results-wrap .advertising {
          width: 80%;
          clear: both;
          margin-left: 20%; }
          #container #content .results-wrap .advertising img {
            width: 100%; }
        #container #content .results-wrap .results-header {
          font-size: 16px;
          font-weight: bold;
          padding: 5px 5px 15px 20px; }
        #container #content .results-wrap .one-result {
          width: 179px;
          position: relative;
          margin: 20px 5px;
          display: inline-block;
          vertical-align: top; }
          #container #content .results-wrap .one-result .result-img {
            width: 100%; }
          #container #content .results-wrap .one-result .result-name {
            position: absolute;
            bottom: 40px;
            padding: 15px;
            opacity: .6;
            background: white;
            text-align: center;
            cursor: pointer;
            font-size: 0.8em;
            word-wrap: break-word; }
      #container #content .one-result:hover .result-name {
        opacity: .9; } }
.purchases {
  width: 80%;
  margin: 0 auto;
  border: 1px greenyellow solid; }
  .purchases thead {
    background: greenyellow; }
    .purchases thead th {
      height: 80px;
      color: white; }
  .purchases tbody td {
    border: 1px greenyellow solid;
    height: 40px;
    padding: 5px; }
    .purchases tbody td .edit-button {
      background: #dad55e;
      color: white;
      border-radius: 3px;
      border: 1px #dad55e solid;
      padding: 5px; }
    .purchases tbody td .edit-button:hover {
      color: #dad55e;
      border: 1px black solid;
      background: whitesmoke; }
    .purchases tbody td .delete-button {
      background: red;
      color: white;
      border-radius: 3px;
      border: 1px red solid;
      padding: 5px; }
    .purchases tbody td .delete-button:hover {
      color: red;
      border: 1px black solid;
      background: whitesmoke; }

.popup {
  border: 1px black solid;
  background: whitesmoke;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 20px; }
  .popup input {
    margin: 5px; }

.add-button, .add {
  background: green;
  color: white;
  border-radius: 3px;
  border: 1px green solid;
  padding: 5px; }

.add-button:hover, .add:hover {
  color: green;
  border: 1px black solid;
  background: whitesmoke; }

.close {
  background: red;
  color: white;
  border-radius: 3px;
  border: 1px red solid;
  padding: 5px; }

.close:hover {
  color: red;
  border: 1px black solid;
  background: whitesmoke; }

/*# sourceMappingURL=style.css.map */
